html
  head
    title Start Game
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  style
    include ../styles/styles.css
  body
    div(class="container")
      h1(class="container-dice--title") Dice game start:
      form(action="/startGame", method="post", class="container-dice--form")  
        input(class="container-dice--input", 
              type="text",
              name="id", 
              value="",
              placeholder="id game" required)
        input(class="container-dice--input", 
              type="text",
              name="gamerBet", 
              value="",
              placeholder="gamerBet" required)
        input(class="container-dice--input", 
              type="text",
              name="gamerBet", 
              value="",
              placeholder="gamerBet" required)
        input(class="container-dice--input", 
              type="text",
              name="gamerBet", 
              value="",
              placeholder="gamerBet" required)
        input(class="container-dice--input", 
              type="submit",
              value="Start Game")
      a(class="container-dice--backHome", href="/") Back to Home